#main-window{
    height: 60%;
}

#chatbox{
    height: 40%;
}

#sidebar {
    max-width: 300px;
}

#alert {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 35%;
    min-width: 500px;
}